footer {
    .top {
        width: 100%;
        padding: 4rem 0;

        .social {
            padding-bottom: 2rem;

            .icons {
                padding-top: 1rem;
                display: flex;
                gap: .8rem;

                path {
                    fill: rgb(129, 129, 129);
                }
            }
        }

        .footer_links {
            div {
                padding-bottom: 1rem;
            }

            h6 {
                font-size: 1.2rem;
                padding-bottom: .8rem;
                padding-top: .5rem;
            }

            li {
                font-size: .85rem;
                padding-bottom: .2rem;
            }
        }
    }

    .bottom {
        padding: 1.5rem 0;
        border-top: 1px solid rgb(210, 210, 210);

        .container {
            display: flex;
            flex-direction: column;
            gap: .25rem;
        }
    }
}

@media (min-width: 991px) {
    footer {
        .top {
            display: flex;

            .social {
                width: 30%;
            }

            .footer_links {
                display: flex;
                width: 70%;
                justify-content: space-between;
            }
        }

        .bottom {
            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

}