.teacher_card {
    width: calc(100% / 5 - 4rem / 5);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--cc-light);
    box-shadow: 5px 5px 10px rgba(187, 187, 187, 0.346);

    .top {
        border-radius: .6rem;
        overflow: hidden;
        position: relative;

        .social {
            visibility: hidden;
            opacity: 0;
            transition: .5s ease;
            position: absolute;

            top: 0;
            left: 0;
            background-color: var(--cc-accent-secondary);
            padding: .5rem .2rem;
            display: flex;
            flex-direction: column;
            gap: .2rem;

            path {
                fill: white;
            }
        }

        &:hover .social {
            visibility: visible;
            opacity: 1;

        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .bottom {
        text-align: center;
        padding-top: 1rem;

        div {
            color: var(--cc-accent-primary);
        }
    }
}

@media (max-width: 991px) {
    .teacher_card {
        width: calc(100% / 2 - 1rem / 2);
    }

    .teacher_card:last-child {
        width: calc(100%);
    }

    .social {
        width: fit-content;
    }
}