.courses {
    .section_title {
        text-align: center;
    }

    .courses_list {
        padding: 2rem 0;
    }
}

@media (min-width: 991px) {
    .courses {
        .courses_list {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}