header {
    .banner {
        background-color: var(--cc-accent-primary);
        color: var(--cc-light);
        text-align: center;
        padding: .8rem 0;

        a {
            color: var(--cc-light);
        }
    }

    .nav-link {
        color: var(--cc-dark);
        font-size: .8rem;
        font-weight: var(--cc-font-bold);
        text-transform: uppercase;
    }

    .currentPage {
        color: var(--cc-accent-secondary);
    }

    .social {
        a {
            color: var(--cc-dark);
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 991px) {
    .social {
        width: 100%;
    }
}