.reviews {
    margin: 6rem 0;
    background-color: var(--cc-accent-secondary-light);
    padding: 6rem 0;
    text-align: center;

    .reviewers {
        display: flex;
        gap: 1rem;


    }
}