.review {
    padding: 2rem 1rem 5rem 2rem;

    .top {
        text-align: left;
    }

    .bottom {
        padding-top: 1rem;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 1rem;

        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .reviewer_info {

            h6 {
                line-height: normal;
                font-size: 1.2rem;
            }

            small {
                line-height: normal;
                display: block;
                font-size: 1rem;
            }
        }


    }
}