@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --cc-light: #31333A;
  --cc-light: #ffffff;
  --cc-accent-primary: #EC6C5B;
  --cc-accent-secondary: #4CC083;
  --cc-accent-secondary-light: #E2F3F0;
  --cc-font-primary: "Inter", sans-serif;
  --cc-font-regular: 300;
  --cc-font-bold: 600;
  --hero-background-image: url('/img/billboard-bg.png');
}

body {
  font-family: var(--cc-font-primary);
  font-weight: var(--cc-font-regular);
}