@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --cc-light: #31333A;
  --cc-light: #ffffff;
  --cc-accent-primary: #EC6C5B;
  --cc-accent-secondary: #4CC083;
  --cc-accent-secondary-light: #E2F3F0;
  --cc-font-primary: "Inter", sans-serif;
  --cc-font-regular: 300;
  --cc-font-bold: 600;
  --hero-background-image: url('/img/billboard-bg.png');
}

body {
  font-family: var(--cc-font-primary);
  font-weight: var(--cc-font-regular);
}

h2 {
  font-size: 2rem;
  font-weight: var(--cc-font-bold);
  padding-bottom: .5rem;
}

h5 {
  color: var(--cc-accent-primary);
  font-size: 1rem;
  padding-bottom: .5rem;
}

h6 {
  font-weight: var(--cc-font-bold);
  color: var(--cc-dark);
  font-size: 1.3rem;
  margin: 0;
}

.btn_secondary {
  background-color: var(--cc-accent-secondary);
  text-transform: uppercase;
  border: none;
  padding: 1.2rem 3rem;
  color: var(--cc-light);
  font-weight: var(--cc-font-bold);
  border-radius: 2rem;
}

.container_sm {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.section_title {
  text-align: center;
  padding-top: 8rem;
}

@media (min-width: 991px) {
  h2 {
    font-size: 2.5rem;
  }
}